In [2]:
l=['glass','paper','cardboard','plastic','metal','trash']

In [ ]:
import os
for i in l:
    os.mkdir("/Dataset/Trainset/"+i)
    os.mkdir("/Dataset/Testset/"+i)

In [45]:
for i in l:
    
    os.mkdir("Dataset/validationset/"+i)

In [32]:
os.listdir()

['.ipynb_checkpoints', 'garbage', 'Train_test_set_preparation.ipynb']

In [33]:
import pandas as pd

In [34]:
df=pd.read_csv("C:\\NaanMudhalvan\\garbage\\one-indexed-files-notrash_test.txt",sep=" ")
df.columns=['name','grp']
df

                 name  grp
0        paper380.jpg    2
1     cardboard31.jpg    3
2         glass12.jpg    1
3        paper169.jpg    2
4    cardboard334.jpg    3
..                ...  ...
425      metal389.jpg    5
426      paper303.jpg    2
427      paper405.jpg    2
428      paper465.jpg    2
429      trash132.jpg    6

[430 rows x 2 columns]

In [35]:
x=[df['name'],df['grp']]
x[0]

0          paper380.jpg
1       cardboard31.jpg
2           glass12.jpg
3          paper169.jpg
4      cardboard334.jpg
             ...
425        metal389.jpg
426        paper303.jpg
427        paper405.jpg
428        paper465.jpg
429        trash132.jpg
Name: name, Length: 430, dtype: object

In [36]:
import shutil
for i in range(len(x[0])):
         name=x[0][i]
         grp=x[1][i]
         shutil.move("garbage/Garbage classification/Garbage classification/"+l[grp-1]+"/"+name,"Dataset/Testset/"+l[grp-1]+"/"+name)

In [39]:
df=pd.read_csv("C:\\NaanMudhalvan\\garbage\\one-indexed-files-notrash_train.txt",sep=" ")
df.columns=['name','grp']
df

                name  grp
0       paper472.jpg    2
1       paper522.jpg    2
2       glass189.jpg    1
3       glass325.jpg    1
4        metal63.jpg    5
...              ...  ...
1762  cardboard6.jpg    3
1763    glass283.jpg    1
1764    metal335.jpg    5
1765  plastic133.jpg    4
1766    paper442.jpg    2

[1767 rows x 2 columns]

In [41]:
x=[df['name'],df['grp']]

import shutil
for i in range(len(x[0])):
         name=x[0][i]
         grp=x[1][i]
         shutil.move("garbage/Garbage classification/Garbage classification/"+l[grp-1]+"/"+name,"Dataset/Trainset/"+l[grp-1]+"/"+name)

In [42]:
df=pd.read_csv("C:\\NaanMudhalvan\\garbage\\one-indexed-files-notrash_val.txt",sep=" ")
df.columns=['name','grp']
df

                 name  grp
0      plastic204.jpg    4
1        glass123.jpg    1
2        glass152.jpg    1
3        glass398.jpg    1
4      cardboard3.jpg    3
..                ...  ...
322       metal58.jpg    5
323  cardboard149.jpg    3
324      plastic5.jpg    4
325       glass23.jpg    1
326      paper109.jpg    2

[327 rows x 2 columns]

In [46]:
x=[df['name'],df['grp']]

import shutil
for i in range(len(x[0])):
         name=x[0][i]
         grp=x[1][i]
         shutil.move("garbage/Garbage classification/Garbage classification/"+l[grp-1]+"/"+name,"Dataset/validationset/"+l[grp-1]+"/"+name)